<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sboot.sijak.last_payment.mapper.CartMapper">
	<insert id="insertCart"
		parameterType="com.sboot.sijak.last_payment.dto.CartDTO">
		INSERT INTO cart (product_name, product_price, name)
		VALUES (#{productName}, #{productPrice}, #{name})
	</insert>

	<select id="getCart"
		resultType="com.sboot.sijak.last_payment.dto.CartDTO">
		SELECT cart_id AS cart_ID, 
		product_name AS productName,
		product_price AS productPrice,
		name
		FROM cart
		WHERE name = #{name}
		ORDER BY cart_id
	</select>
	
	<delete id="deleteCart" parameterType="int">
		DELETE FROM cart
		WHERE cart_id = #{cart_ID}
	</delete>
</mapper>
