<!DOCTYPE html>
<html lang="en">

<head>
	<!--<title>결제 내역</title>-->
	<link rel="stylesheet" href="/css/recentPayHistory.css" type="text/css" />
</head>

<body>

	<table border="1">
		<thead>
			<tr>
				<th>상품명</th>
				<th>가격</th>
				<th>구매자</th>
				<th>연락처</th>
				<th>구매일자</th>
				<th>주문번호</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.isEmpty(recentPayHistory)}">
			       <td colspan="6">결제 내역이 없습니다.</td>
			   </tr>
			   <tr th:each="payment : ${recentPayHistory}">
			       <td th:text="${payment.productName}"></td>
			       <td th:text="${payment.productPrice}"></td>
			       <td th:text="${payment.buyerName}"></td>
			       <td th:text="${payment.buyerTel}"></td>
			       <td th:text="${#dates.format(payment.purchaseDate, 'yyyy-MM-dd')}"></td>
			       <td th:text="${payment.merchantUid}"></td>
			   </tr>
		</tbody>
	</table>
	
	<div class="pagination">
	    <button th:disabled="${currentPage == 1}" 
	            th:onclick="|location.href='@{/recentPayHistory(page=${currentPage - 1})}'|">이전</button>
	    <span>Page <span th:text="${currentPage}"></span> / <span th:text="${totalPages}"></span></span>
	    <button th:disabled="${currentPage == totalPages || totalPages == 0}" 
	            th:onclick="|location.href='@{/recentPayHistory(page=${currentPage + 1})}'|">다음</button>
	</div>
</body>

</html>