/* =========== 스와이퍼 ===================== */
.swiper {
   width: 100%;
   height: 100%;
   position: relative;
}

.swiper-slide {
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
	max-width: calc(100% - 80px); 
   align-items: center;
   object-fit: cover;  /*또는 contain */
   display: block;
   margin: 0 auto; /* 중앙 정렬을 위한 마진 설정 */
}

.swiper-pagination { 
    top: 0;
	margin: 0 auto;
}

.swiper-pagination-bullet {
   width: 7px;
   height: 7px;
   justify-content: center;
   background-color: #fff;
   margin: 10px 0 0 0;
   border: 2px solid black;  /*여기에 border 추가 */
   opacity: 1;
   
}

.swiper-pagination-bullet-active {
   background-color: black;
   opacity: 1;
}

.swiper-button-prev {
   height: 20px;
   color: black;
   /*position: absolute;*/
}

.swiper-button-next {
   height: 20px;
   color: black;
}